/* Footer.css */
.footer {
  background-color: #131311;
  color: #fff;
  padding: 40px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.footer-logo {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-tagline {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footer-social a:hover svg {
  color: gray;
  transform: scale(1.3);
  transition: 0.3s;

}

.footer-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-nav {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 8px;
}

.footer-nav li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav li a:hover {
  color: gray;
}

/* Sección "Creado con:" */
.footer-created-with {
  margin-bottom: 10px;
}

.created-with-label {
  font-weight: bold;
  margin-right: 8px;
}

.tech-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
}

.tech-item {
  display: flex;
  align-items: center;
}

.tech-icon {
  font-size: 1.5rem;
  margin-right: 6px;
}

.tech-name {
  font-size: 1rem;
  font-weight: bold;
}

.footer-text {
  font-size: 16px;
  margin-bottom: 5px;
}
